<!DOCTYPE html>
<html>

<head>

    <title>ShopMart Users</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🛍 ShopMart User Service</h1>

<p class="subtitle">
Docker Microservice - User Management
</p>

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Role</th>
</tr>

{% for user in users %}

<tr>

<td>{{ user.id }}</td>

<td>{{ user.name }}</td>

<td>{{ user.email }}</td>

<td>{{ user.role }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>
